@font-face {
    font-family: 'Liberation Sans';
    src: url('LiberationSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Liberation Sans';
    src: url('LiberationSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Liberation Sans';
    src: url('LiberationSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Liberation Sans';
    src: url('LiberationSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

:root {
    --primary-color: #27aae1;
    --secondary-color: #081e8;
    --neutral-color: #F4F7F9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: var(--primary-color); /* Cor de fundo da seleção */
    color: #fff; /* Cor do texto da seleção */
}

body {
    font-family: 'Liberation Sans', sans-serif;
    background-color: var(--neutral-color);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    overflow: hidden;
}

.container {
    max-width: 600px;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
    position: relative;
    z-index: 999999999999;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.logo {
    max-width: 150px;
    margin-bottom: 2rem;
    animation: bounceIn 1s ease-in-out 0.5s;
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }
    50% {
        opacity: 1;
        transform: scale(1.05);
    }
    70% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

h1 {
    color: var(--secondary-color);
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 2rem;
}

.social-links a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 50%;
    margin: 0 10px;
    font-size: 20px;
    line-height: 40px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.social-links a:hover {
    transform: translateY(-5px);
    background-color: var(--secondary-color);
}

/* Responsive Design */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    .container {
        padding: 1.5rem;
    }
}
